.slide-wrap {
    margin: auto;
    width: 50%;
}

.finisher {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #f8ab05, #ee7202);
    color: white;
    padding: 50px 20px
}

.mydiv {
    margin-bottom: 50px
}